.center_stuff {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 64px;
    color: pink;
    font-weight: bold;
}

.pink_box {
    width: 70vw;
    height: 20vh;
    background-color: rgb(255, 226, 231);
    border: 1px solid rgb(255, 67, 123);
}

.trope_box_title {
    font-size: 32px;
    color: rgb(131, 50, 63);
    font-weight: bold;
}

.drop_down_style {
    background-color: rgb(255, 226, 231);
    width: 180px;
    height: 35px;
    border: 1px solid rgb(255, 67, 123);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    color: rgb(255, 108, 132);
}

.summary_box{
    width: 30vw;
    height: 30vh;
    background-color: rgb(255, 226, 231);
    border: 1px solid rgb(255, 67, 123);
    display: flex;
    align-items: flex-start;
}

.pink_button {
    background-color: pink;
    border-radius: 25px;
    font-weight: bold;
    width: 250px;
    height: 50px;
    border: 0px;
    font-size: 24px;
}

.pink_button:hover{
    cursor: pointer;
}

.trope_item {
    font-size: 20px;
    color: rgb(255, 108, 132);
    font-weight: bold;
    width: 150px;
    background-color: rgba(255, 36, 36, 0.1);
    border: 3px solid rgb(255, 191, 131);
    text-align: center;
}

.trope_item:hover {
    cursor: pointer;
    border: 4px dashed rgb(255, 191, 131);
    background-color: rgba(97, 97, 97, 0.0);
}

.trope_item.selected{
    background-color: rgb(255, 147, 172);
    color: white;
    border: 4px solid rgb(255, 90, 120);
    transform: scale(1.05);
}

.selected_item {
    font-size: 20px;
    color: rgb(255, 108, 132);
    font-weight: bold;
    width: 100px;
    border: 8px ridge rgb(255, 191, 131);
    background-color: rgba(97, 97, 97, 0.0);
    text-align: center;
}

.gamja-flower-regular {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 40;
  font-style: normal;
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

.summary_text {
    width: 95%;
    height: 95%;
}

.two-box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.equal-box {
    flex: 1;
    background-color: rgb(255, 226, 231);
    border: 1px solid rgb(255, 67, 123);
    min-height: 200px;
    padding: 20px 10px;
    border-radius: 10px;
}

.story-tropes-box {
    flex: 0.7
}

.story-tones-box{
    flex: 0.3
}

.gender_button{
    background-color: pink;
    border-radius: 25px;
    font-weight: bold;
    border: 0px;
}

.design_options_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 0px;
}

.design_option{
    display: flex;
    align-items: center;
    gap: 18px;
}

.input_box {
    background-color: pink;
    width: 180px;
    height: 35px;
    border: 1px solid rgb(255, 226, 231);
    border-radius: 5px;
    padding: 5px;
}
.gender-choice {
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.trope_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    max-width: 900px;
}

.gender-choice {
    color: rgb(255, 108, 132);
}

.story_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    max-height: 70%;
    height: 60%;
    background-color: white;
    align-items: center;
    overflow: auto;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* visibility: hidden; */
    border-radius: 15px;

}

.show_story_popup {
    visibility: visible;
}

.story_popup_text {
    font-size: 20px;
    padding: 20px;
    color: black;
}

.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(255, 67, 123);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.story_div {
    width: 100px;
    height: 50px;
    background-color: rgb(255, 108, 132);
    border: 2px solid rgb(255, 191, 131);
    justify-content: center; 
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 5px;
    color: white;
}

.story_div:hover {
    cursor: pointer;
}

button:disabled,
button[disabled]{
    cursor: not-allowed;
}

.loading_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    background-color: rgb(206, 83, 167);
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    display: flex;
    border-radius: 10px;
}

.show_loading_popup {
    visibility: visible;
}

.story_popup_dark_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 100;
    align-items: center;
    visibility: hidden;
}

.story_beats_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 100;
    align-items: center;
    visibility: hidden;
}

.story_beats_view {
    position: relative;
    width: 50%;
    height: auto;
    background-color: rgb(255, 226, 231);
    border: 1px solid rgb(255, 67, 123);
    border-radius: 15px;
    z-index: 101;
    margin: 5px;
}

.exit_icon {
    position: absolute;
    cursor: pointer;
}

.add_icon {
    position: relative;
    top: -10%;
    right: -5%;
    cursor: pointer;
}

.story_beats_title {
    font-size: 32px;
    color: rgb(131, 50, 63);
    font-weight: bold;
}

.selected_trope_item {
    font-size: 20px;
    color: rgb(255, 108, 132);
    font-weight: bold;
    width: 150px;
    background-color: rgba(255, 36, 36, 0.1);
    text-align: center;
}

.set_story_beats {
    background-color: rgb(252, 83, 111);
    border-radius: 25px;
    font-weight: bold;
    width: 120px;
    height: 30px;
    border: 0px;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 6px;
    z-index: 999;
}

.story_beats_view hr {
    width: 60%;
    border: none;
    background-color: rgb(252, 83, 111);
    height: 4px;
    border-radius: 5px;
}

.beat_item {
    font-size: 20px;
    color: rgb(255, 108, 132);
    font-weight: bold;
    /* width: 150px; */
    background-color: rgba(255, 36, 36, 0.1);
    border: 3px solid rgb(255, 191, 131);
    text-align: center;
    height: fit-content;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

.text_area {
    width: 60%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    resize: none;
    white-space: nowrap;
    font-size: 16px;
}

::-webkit-scrollbar {
    display: none;
}

.remove_beat {
    background-color: rgb(255, 67, 123);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.story_beats_container_style {
    width: 70%;
    margin-bottom: 20px;
}

.form_style {
    display: flex;
    flex-direction: column;
    gap: 16px;
}